@media (min-width: 1200px){ .u-block-1a8e-1 {background-image: none}
.u-block-1a8e-2 {min-height: 227px}
.u-block-1a8e-7 {width: 912px; height: 3px; margin-top: 70px; margin-right: 103px; margin-bottom: 0; margin-left: auto}
.u-block-1a8e-6 {width: 417px; animation-duration: 1000ms; margin-top: -23px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-1a8e-9 {white-space: nowrap; height: 38px; min-height: 16px; width: 134px; min-width: 68px; animation-duration: 1000ms; margin-top: -6px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-1a8e-10 {height: 100%}
.u-block-1a8e-11 {height: 100%}
.u-block-1a8e-12 {height: 100%}
.u-block-1a8e-8 {animation-duration: 1000ms; font-size: 1rem; width: 745px; margin-top: 14px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-1a8e-16 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-17 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-15 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-18 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-14 {margin-top: -50.0003px; margin-right: 711px; margin-bottom: 0px; margin-left: 414px}
.u-block-1a8e-13 {width: 272px; margin-top: 85px; margin-right: auto; margin-bottom: 0; margin-left: 434px} }
@media (max-width: 1199px) and (min-width: 992px){ .u-block-1a8e-1 {background-image: none}
.u-block-1a8e-2 {min-height: 256px}
.u-block-1a8e-7 {width: 912px; height: 3px; margin-top: 70px; margin-right: 28px; margin-bottom: 0; margin-left: auto}
.u-block-1a8e-6 {width: 417px; animation-duration: 1000ms; margin-top: -23px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-1a8e-9 {white-space: nowrap; height: 38px; min-height: 16px; width: 134px; min-width: 68px; margin-top: -6px; margin-left: auto; margin-right: auto; margin-bottom: 0; animation-duration: 1000ms}
.u-block-1a8e-10 {height: 100%}
.u-block-1a8e-11 {height: 100%}
.u-block-1a8e-12 {height: 100%}
.u-block-1a8e-8 {width: 745px; animation-duration: 1000ms; font-size: 1rem; margin-top: 16px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-1a8e-16 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-17 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-15 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-18 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-14 {margin-top: -51.8001px; margin-right: 586px; margin-bottom: 0px; margin-left: 341px}
.u-block-1a8e-13 {width: 272px; margin-top: 85px; margin-right: auto; margin-bottom: 0; margin-left: 434px} }
@media (max-width: 991px) and (min-width: 768px){ .u-block-1a8e-1 {background-image: none}
.u-block-1a8e-2 {min-height: 256px}
.u-block-1a8e-7 {width: 720px; height: 3px; margin-top: 70px; margin-right: 0px; margin-bottom: 0; margin-left: auto}
.u-block-1a8e-6 {width: 417px; animation-duration: 1000ms; margin-top: -23px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-1a8e-9 {white-space: nowrap; height: 38px; min-height: 16px; width: 134px; min-width: 68px; margin-top: -6px; margin-left: auto; margin-right: auto; margin-bottom: 0; animation-duration: 1000ms}
.u-block-1a8e-10 {height: 100%}
.u-block-1a8e-11 {height: 100%}
.u-block-1a8e-12 {height: 100%}
.u-block-1a8e-8 {width: auto; animation-duration: 1000ms; font-size: 1rem; margin-top: 19.2px; margin-left: 0px; margin-right: 0px; margin-bottom: 0}
.u-block-1a8e-16 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-17 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-15 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-18 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-14 {margin-top: -55px; margin-right: 449px; margin-bottom: 0px; margin-left: 261px}
.u-block-1a8e-13 {width: 272px; margin-top: 85px; margin-right: auto; margin-bottom: 0; margin-left: 434px} }
@media (max-width: 767px) and (min-width: 576px){ .u-block-1a8e-1 {background-image: none}
.u-block-1a8e-2 {min-height: 350px}
.u-block-1a8e-7 {width: 540px; height: 3px; margin-top: 20px; margin-right: 0px; margin-left: auto; margin-bottom: 0}
.u-block-1a8e-6 {width: 417px; animation-duration: 1000ms; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-1a8e-9 {white-space: nowrap; height: 38px; min-height: 16px; width: 134px; min-width: 68px; margin-top: 20px; margin-left: auto; margin-right: auto; animation-duration: 1000ms; margin-bottom: 0}
.u-block-1a8e-10 {height: 100%}
.u-block-1a8e-11 {height: 100%}
.u-block-1a8e-12 {height: 100%}
.u-block-1a8e-8 {animation-duration: 1000ms; font-size: 1rem; margin-top: 19px; margin-left: auto; margin-right: auto; margin-bottom: 0; width: auto}
.u-block-1a8e-16 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-17 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-15 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-18 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-14 {margin-top: -55px; margin-right: 337px; margin-bottom: 0px; margin-left: 218px}
.u-block-1a8e-13 {width: 272px; margin-top: 85px; margin-right: auto; margin-bottom: 2px; margin-left: 268px} }
@media (max-width: 575px){ .u-block-1a8e-1 {background-image: none}
.u-block-1a8e-2 {min-height: 274px}
.u-block-1a8e-7 {width: 340px; height: 3px; margin-top: 20px; margin-right: 0px; margin-left: auto; margin-bottom: 0}
.u-block-1a8e-6 {width: 340px; animation-duration: 1000ms; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-block-1a8e-9 {white-space: nowrap; height: 38px; min-height: 16px; width: 134px; min-width: 68px; animation-duration: 1000ms; margin-top: -12px; margin-right: 98px; margin-bottom: 0; margin-left: auto}
.u-block-1a8e-10 {height: 100%}
.u-block-1a8e-11 {height: 100%}
.u-block-1a8e-12 {height: 100%}
.u-block-1a8e-8 {animation-duration: 1000ms; font-size: 0.875rem; width: auto; margin-top: 0px; margin-bottom: 0; margin-left: auto; margin-right: auto}
.u-block-1a8e-16 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-17 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-15 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-18 {background-image: none; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px}
.u-block-1a8e-14 {margin-top: -34.2001px; margin-right: 98px; margin-bottom: 0px; margin-left: auto}
.u-block-1a8e-13 {width: 272px; height: 3px; margin-top: 47px; margin-right: 29px; margin-bottom: 60px; margin-left: auto} }